<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://waruniazureassignement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waruniazureassignement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WaruniAzureAssignement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WaruniAzureAssignement</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>wchexilesoft.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:waruniazureassignementdbserver.database.windows.net,1433;Initial Catalog=WaruniAzureAssignement_db;User ID=AzureAdmin@waruniazureassignementdbserver;Password=AdminAzure123#" Name="Data Source=tcp:waruniazureassignementdbserver.database.windows.net,1433;Initial Catalog=WaruniAzureAssignement_db;User Id=AzureAdmin@waruniazureassignementdbserver;Password=AdminAzure123#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WaruniAzureAssignement.Models.ApplicationDbContext, WaruniAzureAssignement" MigrationConfiguration="WaruniAzureAssignement.Migrations.Configuration, WaruniAzureAssignement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://wchexilesoft.onmicrosoft.com/WebApp-waruniazureassignement.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>afc9a9f8-8754-4d0f-9b05-eb268491ce7f</ADClientAPPID>
    <ADClientPassword>0xsD+2nL8xpEPlmi93Cgb4wScosngyk44G8WX4Uh9Rk=</ADClientPassword>
    <ADReplyUrl>https://waruniazureassignement.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>5629d226-380e-4f4c-8f8d-7b4f6abbf851</ADTenantId>
    <ADPostLogoutRedirectUri>https://waruniazureassignement.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:waruniazureassignementdbserver.database.windows.net,1433;Initial Catalog=WaruniAzureAssignement_db;User Id=AzureAdmin@waruniazureassignementdbserver;Password=AdminAzure123#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>